@{
    ViewBag.Title = "Home";
}

        <div class="jumbotron">
          <h1>List Your Car</h1>
          <p class="lead">You can now list your car so that people can rent your car. Owner can make money out of it.</p>
          <p><a class="btn btn-lg btn-success" href="/Car/ListYourCar" role="button">Get started today</a></p>
        </div>

        <!-- Example row of columns -->
        <div class="row">
          <div class="col-lg-4">
            <h2>List Your Car</h2>
            <p>You can now list your car so that people can rent your car. Owner can make money out of it.</p>
            <p><a class="btn btn-primary" href="/Car/ListYourCar" role="button">List Your Car &raquo;</a></p>
          </div>
          <div class="col-lg-4">
            <h2>Rent Car</h2>
            <p>Rent car listed by private owners. You have higher chances of getting the car rental.</p>
            <p><a class="btn btn-primary" href="/Car/RentCar" role="button">Rent a Car &raquo;</a></p>
          </div>
          <div class="col-lg-4">
            <h2>Search for Cars</h2>
            <p>Search for greater listings of car inventory for personal cars owned by people all over the united states.</p>
            <p><a class="btn btn-primary" href="/Car/SearchCar" role="button">Search Cars &raquo;</a></p>
          </div>
        </div>